@page "/counter"
@attribute [Authorize]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity.Name!</p>
        <p>
            <a href="https://docs.microsoft.com/aspnet/core/blazor/security/?view=aspnetcore-3.1">Learn about authorization in Blazor</a>
        </p>
    </Authorized>
    <NotAuthorized>
        <p>
            Looks like you're not logged in.
        </p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
